<ng-container *ngIf="pokemon">
  <p-card class="modal-card">
    <!-- Card Header -->
    <div class="modal-header">
      <h2 class="pokemon-name capitalize">{{ pokemon.name }}</h2>
    </div>

    <!-- Card Body -->
    <div class="modal-content">
      <!-- Grid Container -->
      <div class="grid-container">
        <!-- Carousel -->
        <div class="p-carousel-container">
          <p-carousel
            [value]="filteredSprites"
            [numVisible]="1"
            [circular]="true"
          >
            <ng-template let-sprite pTemplate="item">
              <img
                *ngIf="sprite"
                [src]="sprite"
                [alt]="pokemon.name"
                class="carousel-image"
              />
              <div *ngIf="!sprite" class="placeholder-image"></div>
            </ng-template>
          </p-carousel>
        </div>

        <!-- Bottom Half Grid -->
        <div class="bottom-half-grid">
          <!-- Left Column -->
          <div class="left-column">
            <!-- Stats Table -->
            <div class="stats-table-container">
              <p-table
                [value]="statsTable"
                [paginator]="false"
                styleClass="p-datatable-sm p-datatable-striped"
              >
              <ng-template pTemplate="caption"><div class="table-header capitalize">estadísticas</div></ng-template>
                <ng-template pTemplate="body" let-rowData>
                  <tr>
                    <td class="capitalize">
                      <ng-container *ngIf="rowData.icon">
                        <i [class]="rowData.icon"></i>
                      </ng-container>
                      {{ rowData.attribute }}
                    </td>
                    <td class="capitalize">{{ rowData.value }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>

          <!-- Right Column -->
          <div class="right-column">
            <!-- Info Table -->
            <div class="info-table-container">
              <p-table
                [value]="infoTable"
                [paginator]="false"
                styleClass="p-datatable-sm p-datatable-striped"
              >
              <ng-template pTemplate="caption"><div class="table-header capitalize">información</div></ng-template>
                <ng-template pTemplate="body" let-rowData>
                  <tr>
                    <td class="capitalize">
                      <ng-container *ngIf="rowData.icon">
                        <i [class]="rowData.icon"></i>
                      </ng-container>
                      {{ rowData.attribute }}
                    </td>
                    <td class="capitalize">{{ rowData.value }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-card>
</ng-container>
